.direction-right {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
  .page-size {
    span {
      font: {
        weight: 600;
        size: 13px;
      }
      padding-right: .5rem;
    }
    padding-left: 1rem;
  }
}
:host ::ng-deep ul.ngx-pagination {
  margin-bottom: 0px;
}
