<nz-layout class="app-layout">
  <nz-sider class="menu-sidebar"
            nzCollapsible
            nzWidth="256px"
            nzBreakpoint="md"
            [(nzCollapsed)]="isCollapsed"
            [nzTrigger]="null">
    <div class="sidebar-logo">
      <a href="https://ng.ant.design/" target="_blank">
        <img src="https://ng.ant.design/assets/img/logo.svg" alt="logo">
        <h1>Ant Design For Angular</h1>
      </a>
    </div>
    <ul nz-menu nzTheme="light" nzMode="inline" [nzInlineCollapsed]="isCollapsed">
      <li nz-submenu nzOpen [nzTitle]="managementTitle">
        <ng-template #managementTitle>
          <i nz-icon nzType="crown" nzTheme="twotone" style="font-size: 22px"></i>
          <span>Management</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="shop"></i>
            <a routerLink="/devices">Devices</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <i nz-icon nzType="team"></i>
            <a routerLink="/merchants">Merchants</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="transactionTitle">
        <ng-template #transactionTitle>
          <i nz-icon nzType="folder-open" nzTheme="twotone" style="font-size: 22px"></i>
          <span>Transactions</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a routerLink="/transaction/drop">Drop Transactions</a>
          </li>
          <li nz-menu-item nzMatchRouter>
            <a>Removal Transactions</a>
          </li>
          <li nz-menu-item nzMatchRouter nzIcon="safety-certificate">
            <a>Verification Transactions</a>
          </li>
        </ul>
      </li>
      <li nz-submenu nzOpen [nzTitle]="audit">
        <ng-template #audit>
          <i nz-icon nzType="folder-open" nzTheme="twotone" style="font-size: 22px"></i>
          <span>Audit Transactions</span>
        </ng-template>
        <ul>
          <li nz-menu-item nzMatchRouter>
            <a>List Audit Transactions</a>
          </li>
        </ul>
      </li>
    </ul>
  </nz-sider>
  <nz-layout>
    <nz-header>
      <div class="app-header">
        <div nz-row nzJustify="space-between">
          <div nz-col>
            <span class="header-trigger" (click)="isCollapsed = !isCollapsed">
              <i class="trigger"
                nz-icon
                [nzType]="isCollapsed ? 'menu-unfold' : 'menu-fold'"
              ></i>
            </span>
          </div>
          <div nz-col class="app-header-navigation">
            <div>
              <button nz-button nzType="default">
                <i nz-icon [nzType]="'bell'" [nzTheme]="'twotone'" [nzTwotoneColor]="'#eb2f96'"></i>
              </button>
            </div>
            <!-- Drop Down -->
            <div>
              <nz-button-group>
                <button nz-button nzType="primary">Create Transactions</button>
                <button nz-button nz-dropdown [nzDropdownMenu]="menu1" nzPlacement="bottomRight">
                  <i nz-icon nzType="ellipsis"></i>
                </button>
              </nz-button-group>
              <nz-dropdown-menu #menu1="nzDropdownMenu">
                <ul nz-menu>
                  <li nz-menu-item>Create Drop Transaction</li>
                  <li nz-menu-item>Create Removal Transaction</li>
                  <li nz-menu-item>Create Verification Transaction</li>
                </ul>
              </nz-dropdown-menu>
            </div>
            <!-- ./END Drop Down -->
          </div>
        </div>
      </div>
    </nz-header>
    <nz-content>
      <div class="inner-content">
        <router-outlet></router-outlet>
      </div>
    </nz-content>
  </nz-layout>
</nz-layout>
