<div>
  <nz-card nzTitle="List of Devices" [nzExtra]="extraTemplate">
    <nz-table #fixedTable [nzFrontPagination]="false" nzBordered>
      <thead>
        <tr>
          <th nzLeft>Device Id</th>
          <th nzLeft>Device Number</th>
          <th nzRight>Action</th>
        </tr>
      </thead>

      <tbody>
        <tr *ngFor="
          let device of listOfDevices | paginate : {
                itemsPerPage: pageSize,
                currentPage: page,
                totalItems: count
              };
        ">
          <td nzLeft>{{ device.id }}</td>
          <td nzLeft>{{ device.deviceNumber }}</td>
          <td nzRight>
            <button nz-button [nzType]="'primary'" nzDanger>
              <i nz-icon nzType="delete" nzTheme="outline"></i> Delete !!
            </button>
          </td>
        </tr>
      </tbody>
    </nz-table>
    <div class="direction-right">
        <pagination-controls
        previousLabel="Prev"
        nextLabel="Next"
        [responsive]="true"
        (pageChange)="handlePageChange($event)"
      ></pagination-controls>
      <div class="page-size">
        <span> Items per Page:</span>
        <nz-select [(ngModel)]="selectedSize" (ngModelChange)="handlePageSizeChange($event)" nzAllowClear nzPlaceHolder="01 per page">
          <nz-option *ngFor="let size of pageSizes" [nzValue]="size" [nzLabel]="size.label"></nz-option>
        </nz-select>
      </div>
    </div>
  </nz-card>
  <ng-template #extraTemplate>
    <app-create-device></app-create-device>
  </ng-template>
</div>
